<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间，让映射获取到-->
<mapper namespace="zyp.com.UserMapper">

    <select id="queryUserBySchoolName" resultType="zyp.com.User">
        select * from `user` where schoolName = #{schoolName}
    </select>

    <sql id="test">
        from ${table_name}
    </sql>

    <insert id = "mapperTest">
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            select author_seq.nextval from dual
        </selectKey>
        insert into
         <include refid="test" >
             <property name="table_name" value="user"/>
         </include>
        (id, name, password)
        values
        (#{id}, #{username}, #{password}
    </insert>
</mapper>